aside {
  position: sticky;
  top: 0;
  overflow-x: scroll;
  width: 283px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  transition: all;
  color: $grayish-blue;
  font-size: 16px;

  a {
    color: $dull-navy;

    &.active {
      background: rgba($bright-cyan, 0.06);
      color: $dull-blue;
      border-left: 3px solid $bright-cyan;
    }
  }

  @media (max-width: 767px) {
    position: relative;
    left: -200%;
    transition: all 150ms ease-in-out;
    width: 0;

    &.show-aside {
      left: 0;
      width: 283px;
      flex: none;
    }
  }

  nav {
    padding-top: 39px;

    .search-form {
      @media (max-width: 1023px) {
        position: relative;
        width: 100%;
        margin: 0 30px;
        margin-bottom: 20px;
        min-width: 100px;
        max-width: 230px;

        input {
          height: 40px;
        }
        .search-button {
          background: $bright-cyan;
          @include flexCenter(row);
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          height: 40px;
          width: 56px;
          border: none;
          padding: 0 13px;
          border-radius: 0 8px 8px 0;
        }
      }
      @media (min-width: 1023px) {
        display: none;
      }
    }
    ul {
      margin-bottom: 21px;

      li {
        span {
          padding: 10px;
        }
        h2 {
          font-weight: 500;
          font-size: 12px;
          padding: 10px 30px;
        }

        a {
          padding: 0 30px;
          @include flexCenter(row);
          justify-content: start;
          margin-bottom: 10px;
        }
      }
    }
  }

  .switch-org,
  .logout,
  .version {
    padding: 0 30px;
    color: $dull-navy;
  }

  .switch-org {
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    span {
      padding: 10px;
    }
  }

  .logout {
    padding: 10px 30px;
    margin-top: 49px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      padding: 10px;
    }
  }

  .home {
    a {
      margin-bottom: 0;
    }
  }
  .version {
    padding: 10px 30px;
    margin-bottom: 120px;
  }
}
