main.dashboard-main {
  flex: 1 1 0%;
  position: sticky;
  overflow: scroll;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: 1023px) {
    padding: 60px;
    max-width: 1280px;
  }

  h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 40px;
    color: $dull-blue;
  }
  .cards {
    @include flexCenter(column);
    gap: 13px;

    @media (min-width: 1023px) {
      @include flexCenter(row);
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .card {
      background: white;
      width: 100%;
      height: 160px;
      border: 1px solid rgba(33, 63, 125, 0.06);
      box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 20px 30px;
      overflow: hidden;

      @media (min-width: 1023px) {
        width: 48%;
      }

      @media (min-width: 1300px) {
        width: 23%;
        // max-width: 240px;
        height: 165px;
      }

      @media (min-width: 1439px) {
        height: 160px;
        width: 23.15%;
      }

      h2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        margin-top: 14px;
        margin-bottom: 12px;
        color: $dull-navy;
      }

      p {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: $dull-blue;
      }
    }
  }
}
