section.tabs-section {
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  background: white;
  margin-top: 40px;
  padding: 30px;
  width: 100%;
  min-height: 30vh;
  height: fit-content;

  .tab-pane {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    opacity: 0;
    transition: opacity 0.15s linear;

    &[data-te-tab-active] {
      opacity: 1;
      display: block;
      position: relative;
    }
  }
  [datadata-bs-tab-active] {
    display: block;
    opacity: 1;
  }
  .grid-section {
    display: flex;
    flex-direction: column;
    height: auto;

    h2 {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
      color: $dull-blue;
    }
  }
  .grid-container {
    &:last-child {
      .grid-wrapper {
        margin-bottom: 0;
        border: none;
      }
    }
  }
  .grid-wrapper {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba($dull-blue, 0.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(186px, auto));
    grid-column-gap: 20px;

    div {
      margin-bottom: 30px;
      h3 {
        margin-bottom: 8px;
        text-transform: uppercase;
        color: $grayish-blue;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        overflow-wrap: break-word;
      }
    }
  }
}
