/* MOBILE FIRST */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

input, main.login-main .login-form input,
button {
  font-family: "Work Sans", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 75rem;
  height: 100vh;
}

main {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.relative {
  position: relative;
}

.text-dull-blue {
  color: #21407d;
}

.text-grayish-blue {
  color: #545f7d;
}

.bold {
  font-weight: 700;
}

.text-20 {
  font-size: 20px;
  line-height: 27px;
}

.text-40 {
  font-size: 40px;
  line-height: 55px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-60 {
  margin-bottom: 60px;
}

input[type="text"], main.login-main .login-form input[type="text"],
input[type="password"],
main.login-main .login-form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 447px;
  height: 50px;
  background: #ffffff;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
  color: #21407d;
}

input[type="text"]:focus, main.login-main .login-form input[type="text"]:focus,
input[type="password"]:focus,
main.login-main .login-form input[type="password"]:focus {
  border: 2px solid rgba(33, 64, 125, 0.6);
}

input[type="text"]::-webkit-input-placeholder, main.login-main .login-form input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
main.login-main .login-form input[type="password"]::-webkit-input-placeholder {
  color: rgba(84, 95, 125, 0.6);
}

input[type="text"]:-ms-input-placeholder, main.login-main .login-form input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
main.login-main .login-form input[type="password"]:-ms-input-placeholder {
  color: rgba(84, 95, 125, 0.6);
}

input[type="text"]::-ms-input-placeholder, main.login-main .login-form input[type="text"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
main.login-main .login-form input[type="password"]::-ms-input-placeholder {
  color: rgba(84, 95, 125, 0.6);
}

input[type="text"]::placeholder, main.login-main .login-form input[type="text"]::placeholder,
input[type="password"]::placeholder,
main.login-main .login-form input[type="password"]::placeholder {
  color: rgba(84, 95, 125, 0.6);
}

main.login-main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Avenir Next LT Pro", sans-serif;
}

@media (min-width: 1023px) {
  main.login-main {
    max-height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

main.login-main .login-bg,
main.login-main .login-form {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

@media (min-width: 1023px) {
  main.login-main .login-bg,
  main.login-main .login-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
  }
}

main.login-main .login-bg {
  padding: 106px 67px;
}

@media (max-width: 1023px) {
  main.login-main .login-bg {
    position: absolute;
  }
}

main.login-main .login-bg div {
  background: url("../assets/user/login-bg.svg") no-repeat 50% 175px;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

main.login-main .login-bg div img {
  padding: 0 30px;
}

main.login-main .login-form {
  -webkit-box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
  padding: 0 100px;
  position: relative;
}

@media (max-width: 1023px) {
  main.login-main .login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(255, 255, 255, 0.95);
    max-width: 400px;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 16px 8px;
    padding: 48px 16px;
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 14px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #39cdcc;
  }
}

main.login-main .login-form form {
  max-width: 447px;
  width: 100%;
}

main.login-main .login-form input {
  margin-bottom: 24px;
}

@media (min-width: 1023px) {
  main.login-main .login-form {
    padding-top: 24.5vh;
  }
}

main.login-main .login-form .forgot-wrapper {
  margin-bottom: 30px;
}

main.login-main .login-form .forgot-password {
  width: 147px;
  height: 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #39cdcc;
}

main.login-main .login-form button.show-password {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  background: none;
  color: #39cdcc;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

main.login-main .login-form button.show-password:hover {
  color: #21407d;
}

main.login-main .login-form .green-btn {
  background: #39cdcc;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid #39cdcc;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: white;
  padding: 0.875rem;
  cursor: pointer;
  -webkit-transition: 150ms all ease-in;
  transition: 150ms all ease-in;
}

main.login-main .login-form .green-btn:hover {
  background: #21407d;
  border: 2px solid #21407d;
}

main.login-main .login-form button {
  font-family: "Avenir Next LT Pro", sans-serif;
  width: 100%;
}

.dashboard {
  background-color: #fbfbfb;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.dashboard section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 100px);
}

header {
  width: 100%;
  height: 100px;
  background: #ffffff;
  -webkit-box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-wrapper {
  width: 100%;
  max-width: 811px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1023px) {
  header .header-wrapper {
    max-width: 1280px;
    margin: auto;
  }
}

@media (max-width: 1023px) {
  header .aside-toggle {
    margin-right: 16px;
  }
  header .aside-toggle span {
    width: 10px;
    position: relative;
    display: block;
    background: #21407d;
    border-radius: 6px;
    height: 2px;
  }
  header .aside-toggle span::before, header .aside-toggle span::after {
    content: "";
    position: absolute;
    left: 0;
    height: inherit;
    background: inherit;
    border-radius: inherit;
    -webkit-transition: inherit;
    transition: inherit;
  }
  header .aside-toggle span::before {
    top: -6px;
    width: 9px;
  }
  header .aside-toggle span::after {
    bottom: -6px;
    width: 16px;
  }
}

@media (min-width: 768px) {
  header .aside-toggle {
    display: none;
  }
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1023px) {
  header .logo img {
    height: 30px;
  }
}

@media (max-width: 1023px) {
  header .logo img {
    width: 90px;
  }
}

header .search-form {
  position: relative;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  display: none;
}

@media (min-width: 1023px) {
  header .search-form {
    display: block;
  }
}

header .search-form input, header .search-form main.login-main .login-form input, main.login-main .login-form header .search-form input {
  height: 40px;
}

header .search-form .search-button {
  background: #39cdcc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 56px;
  border: none;
  padding: 0 13px;
  border-radius: 0 8px 8px 0;
}

header nav .docs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #21407d;
}

@media (max-width: 700px) {
  header nav .docs-link {
    display: none;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul .notification {
  margin-left: 50.16px;
  margin-right: 33.16px;
}

@media (max-width: 1023px) {
  header nav ul .notification {
    margin: 0 20px;
    width: 90%;
  }
  header nav ul .notification svg {
    width: 18px;
  }
}

header nav ul .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul .user-profile img {
  height: 48px;
  width: 48px;
  border-radius: 100%;
}

@media (max-width: 1023px) {
  header nav ul .user-profile img {
    width: 30px;
    height: 30px;
  }
}

header nav ul .user-profile .username {
  padding: 0 10px;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow-x: scroll;
  width: 283px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  -webkit-transition: all;
  transition: all;
  color: #545f7d;
  font-size: 16px;
}

aside a {
  color: #7b8db0;
}

aside a.active {
  background: rgba(57, 205, 204, 0.06);
  color: #21407d;
  border-left: 3px solid #39cdcc;
}

@media (max-width: 767px) {
  aside {
    position: relative;
    left: -200%;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    width: 0;
  }
  aside.show-aside {
    left: 0;
    width: 283px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

aside nav {
  padding-top: 39px;
}

@media (max-width: 1023px) {
  aside nav .search-form {
    position: relative;
    width: 100%;
    margin: 0 30px;
    margin-bottom: 20px;
    min-width: 100px;
    max-width: 230px;
  }
  aside nav .search-form input, aside nav .search-form main.login-main .login-form input, main.login-main .login-form aside nav .search-form input {
    height: 40px;
  }
  aside nav .search-form .search-button {
    background: #39cdcc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 56px;
    border: none;
    padding: 0 13px;
    border-radius: 0 8px 8px 0;
  }
}

@media (min-width: 1023px) {
  aside nav .search-form {
    display: none;
  }
}

aside nav ul {
  margin-bottom: 21px;
}

aside nav ul li span {
  padding: 10px;
}

aside nav ul li h2 {
  font-weight: 500;
  font-size: 12px;
  padding: 10px 30px;
}

aside nav ul li a {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 10px;
}

aside .switch-org,
aside .logout,
aside .version {
  padding: 0 30px;
  color: #7b8db0;
}

aside .switch-org {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

aside .switch-org span {
  padding: 10px;
}

aside .logout {
  padding: 10px 30px;
  margin-top: 49px;
  margin-bottom: 20px;
}

aside .home a {
  margin-bottom: 0;
}

aside .version {
  padding: 10px 30px;
  margin-bottom: 120px;
}

main.dashboard-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  position: -webkit-sticky;
  position: sticky;
  overflow: scroll;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 1023px) {
  main.dashboard-main {
    padding: 60px;
    max-width: 1280px;
  }
}

main.dashboard-main h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  color: #21407d;
}

main.dashboard-main .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 13px;
}

@media (min-width: 1023px) {
  main.dashboard-main .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main.dashboard-main .cards .card {
  background: white;
  width: 100%;
  height: 160px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 20px 30px;
  overflow: hidden;
}

@media (min-width: 1023px) {
  main.dashboard-main .cards .card {
    width: 48%;
  }
}

@media (min-width: 1300px) {
  main.dashboard-main .cards .card {
    width: 23%;
    height: 165px;
  }
}

@media (min-width: 1439px) {
  main.dashboard-main .cards .card {
    height: 160px;
    width: 23.15%;
  }
}

main.dashboard-main .cards .card h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 12px;
  color: #7b8db0;
}

main.dashboard-main .cards .card p {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #21407d;
}

.table-wrapper {
  padding: 30px;
  background: white;
  border-radius: 4px;
  overflow-x: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
          box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  margin-top: 40px;
}

.table-wrapper table {
  font-size: 14px;
  line-height: 16px;
  color: #7b8db0;
  text-align: left;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-color: inherit;
  text-indent: 0;
}

.table-wrapper table thead {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  display: table-header-group;
  table-layout: fixed;
  width: 100%;
}

.table-wrapper table thead th {
  padding-bottom: 15px;
}

.table-wrapper table thead th span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  white-space: nowrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.table-wrapper table thead th span svg {
  margin-left: 10px;
}

.table-wrapper table th,
.table-wrapper table td {
  padding: 0 17.5px;
}

.table-wrapper table th:first-child,
.table-wrapper table td:first-child {
  padding-left: 0;
}

.table-wrapper table th:last-child,
.table-wrapper table td:last-child {
  padding-right: 0;
}

.table-wrapper table td {
  white-space: nowrap;
  padding: 22px 17.5px;
}

.table-wrapper table tbody tr:not(:last-child) td {
  border-bottom: rgba(84, 95, 125, 0.2) 1px solid;
}

.table-wrapper table tbody .status-pill {
  font-size: 14px;
  line-height: 16px;
  padding: 7px 13px;
  border-radius: 9767px;
  text-transform: capitalize;
}

.table-wrapper .inactive {
  background: rgba(84, 95, 125, 0.06);
  color: #545f7d;
}

.table-wrapper .pending {
  background: rgba(233, 178, 0, 0.06);
  color: #e9b200;
}

.table-wrapper .blacklisted {
  background: rgba(228, 3, 59, 0.06);
  color: #e4033b;
}

.table-wrapper .active {
  background: rgba(57, 205, 98, 0.06);
  color: #39cd62;
}

.pagination-wrapper {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1023px) {
  .pagination-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.pagination-wrapper .show-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-wrapper .show-quantity span,
.pagination-wrapper .show-quantity select {
  font-size: 14px;
  line-height: 16px;
  color: #7b8db0;
  font-family: "Work Sans", sans-serif;
}

.pagination-wrapper .show-quantity .select-quantity {
  position: relative;
}

.pagination-wrapper .show-quantity .select-quantity .quantity {
  border: none;
  background: rgba(123, 141, 176, 0.1);
  border-radius: 4px;
  width: 80px;
  height: 30px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 12px;
  margin: 0 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.pagination-wrapper .show-quantity .select-quantity svg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 22px;
}

.pagination-wrapper .pagination-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pagination-wrapper .pagination-nav .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgba(123, 141, 176, 0.6);
  font-size: 16px;
  line-height: 19px;
  gap: 20px;
  margin-top: 16px;
  font-weight: 400;
}

.pagination-wrapper .pagination-nav .pagination nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-wrapper .pagination-nav .pagination li.previous a,
.pagination-wrapper .pagination-nav .pagination li.next a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 6.4px 8.7px;
  background: rgba(123, 141, 176, 0.1);
  width: 24px;
  height: 24px;
}

.pagination-wrapper .pagination-nav .pagination .pagination-link-disabled {
  font-weight: 400;
}

.pagination-wrapper .pagination-nav .pagination .pagination-link-active {
  font-weight: 500;
  color: #7b8db0;
}
/*# sourceMappingURL=style.css.map */